<h1>Listing trolls</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trolls.each do |troll| %>
      <tr>
        <td><%= troll.text %></td>
        <td><%= link_to 'Show', dev_troll_path(troll.dev, troll) %></td>
        <td><%= link_to 'Edit', edit_dev_troll_path(troll.dev, troll) %></td>
        <td><%= link_to 'Destroy', dev_troll_path(troll.dev, troll), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Troll', new_dev_troll_path(@dev) %>
